<% @song.each do |t| %>
    <ul>
        <li> t.title </li>
        <li>t.released</li>
        <li>t.realease_year</li>
        <li>t.artist_name </li>
        <li>t.gnere </li>
    </ul>
        <% end %>